<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Genero</h1>

<button (click)="cleanForm()" type="button" class="btn btn-sm btn-success btn-icon-split mb-4" data-toggle="modal" data-target="#modal">
  <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
  </span>
  <span class="text">
      Agregar genero
  </span>
</button>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Genero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" id="nombre" name="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label for="descripcion">descripcion</label>
            <input formControlName="descripcion" type="text" id="descripcion" name="descripcion" class="form-control">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input
          data-dismiss="modal"
          type="button"
          value="Guardar"
          class="btn btn-success"
          *ngIf="!isEdit; else editInput"
          (click)="create()">
        <ng-template #editInput>
          <input
            data-dismiss="modal"
            type="button"
            value="Editar"
            class="btn btn-info text-light"
            (click)="update()">
        </ng-template>
      </div>

    </div>
  </div>
</div>
<!-- End of Modal -->

<div class="table-responsive">
  <table class="table table-sm text-center">
    <thead class="thead bg-primary text-white">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let genero of generos">
      <td>{{ genero.nombre }}</td>
      <td>{{ genero.descripcion }}</td>
      <td>
        <button type="button" class="btn btn-sm btn-info btn-icon-split mr-2 mb-1" data-toggle="modal" data-target="#modal" (click)="editForm(genero.id)">
          <span class="icon text-white-50"><i class="far fa-edit"></i></span><span class="text">Edit</span>
        </button>
        <button type="button" class="btn btn-sm btn-danger btn-icon-split mb-1"(click)="delete(genero.id)">
          <span class="icon text-white-50"><i class="far fa-trash-alt"></i></span><span class="text">Delete</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
